body{
    background-color: darkgreen;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

h1{
    text-align: center;
    color: white;
    transition: color 0.5s;
}

h1:hover {
    color: red;
}

p{
    line-height: 1.8;
    text-indent: 20px;
    margin: 10px ;
    color:
}
 ul{
    list-style-type: square;
    padding-left: 25px;
 }

 .wyroznione{
    color: orange;
    font-weight: bold;
 }


